.surt {
    position: relative;
    height: 32px;
    font: 16px/16px Arial, Helvetica, sans-serif;
    width: 500px;
    }
    .surt__input,
    .surt__clone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 32px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: none;
        border: 0;
        margin: 0;
        padding: 9px 12px 7px;
        z-index: 1;
        font: 16px/16px Arial, Helvetica, sans-serif;
        outline: none;
        word-spacing:.4em;
        white-space: nowrap;
        overflow: hidden;
        }
    .surt__clone {
        z-index: 0;
        height: 32px;
        border-radius: 2px;
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%);
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) inset;
        color: #000;
        transition: box-shadow 0.2s;
        }
    .surt__input:focus + .surt__clone {
        box-shadow: 
            0 2px 6px rgba(0, 0, 0, 0.15) inset,
            0 0 5px 0 rgba(13, 165, 213, .5) inset;
        }
        .surt__clone-main {
            opacity: 0;
            }
        .surt__clone-hint {
            color: #ddd;
            }
    .surt__suggests {
        list-style: none;
        margin:0;
        padding:0;
        }
        .surt__suggests-item {
            margin:0;
            padding:0;
            }
    .surt__par {
        position: relative;
        display: inline-block;
        vertical-align: top;
        background: #fc0;
        color: #fff;
        font:bold 13px/16px Arial;
        border-radius: 3px;
        padding: .2em 1.2em .2em .4em;
        margin: -.2em -.1em -.2em 0;
        }
    .surt__par:before {
        content:'×';
        position: absolute;
        right: .2em;
        top: 0;
        font:bold 16px/24px Arial;
        color:#fff;
        }